

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#topmost{
	float:right;
}
#first strong{
	color:red;
}
#login{
	float:right;
	margin-right:10px;
}












